<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="nav">
    <div class="actions login-link">
      <%= link_to "BACK", '/', method: :get, class: 'login-link' %>
    </div>

    <h2 class="nav-head">SIGN UP</h2>

    <div class="actions login-btn">
      <%#= f.submit "SAVE", class: 'login-btn' %>
    </div>
  </div>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Full name', class: 'input' %>
  </div>
  
  <div class="field">
    <br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'input' %>
  </div>

  <div class="field">
    <br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'input' %>
    <% if @minimum_password_length %>
    <span><em>(<%= @minimum_password_length %> characters minimum)</em></span>
    <% end %>
  </div>

  <div class="field">
    <br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password confirmation', class: 'input' %>
  </div>

  <div class="actions">
    <%= f.submit "SIGN UP", class: 'btn cat-btn' %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
