

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="nav">
    <div class="actions login-link">
      <%= link_to "Back", '/', method: :get, class: 'login-link' %>
    </div>

    <h2 class="nav-head">LOGIN</h2>

    <div class="actions login-btn">
      <%= f.submit "Log in", class: 'login-btn' %>
    </div>
  </div>
  
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input" %>
  </div>

  <%# if devise_mapping.rememberable? %>
    <div class="field">
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    </div>
  <% #end %>
<% end %>

<div class="shared-links">
<%= render "devise/shared/links" %>
</div>