<div class="nav">
  <div class="actions login-link">
    <%= link_to "Back", '/', method: :get, class: 'login-link' %>
  </div>
  <h2 class="nav-head">TRANSACTIONS</h2>
  <div class="actions login-btn">
      <%#= f.submit "SAVE", class: 'login-btn' %>
    </div>
</div>


  <div class="total-div"><%= @categories.name.upcase %>  TOTAL AMOUNT: <span class="total"><strong>$<%= sprintf('%.2f', @total) %></strong></span></div>


<% @items.each do |item| %>
<div class="items">
  <%= button_to '', category_item_path(item.category, item), method: :delete, class: 'trash-icon', data: { confirm: 'Are you sure you want to delete this item?' } %>
  <p><%= item.item.name %><span class="total">$<%= sprintf('%.2f', item.item.amount) %><span/></p>
</div>
    <% end %>
</div>
<%= button_to "ADD TRANSACTION", new_category_item_path(params[:category_id]), method: :get, class: "btn cat-btn" %>



