<div class="nav">
  <div class="actions login-link">
    <%= link_to "Back", '/', method: :get, class: 'login-link' %>
  </div>
  <h2 class="nav-head">TRANSACTIONS</h2>
</div>

<div>
  <div><%= @categories.name.upcase %>  TOTAL AMOUNT: $<%= @total %></div>
</div>

<% @items.each do |item| %>
<div id="items">
  <p><%= item.item.name %>: $<%= item.item.amount %></p>
</div>
    <% end %>
</div>
<%= button_to "ADD TRANSACTION", new_category_item_path(params[:category_id]), method: :get, class: "btn cat-btn" %>



