<p style="color: green"><%= notice %></p>

<div class="nav category-head">
  <div class="actions login-btn">
    <%#= f.submit "SAVE", class: 'login-btn' %>
  </div>
  <h2 class="nav-head category-head">CATEGORIES</h2>
  <div class="actions login-link">
      <% if user_signed_in? %>
        <%= button_to 'EXIT', destroy_user_session_path, method: :delete, class: "login-btn" %>
      <% end %>
    </div>
</div> 

<div class="categories-div">
  <% @categories.each do |category| %>
    <div class="categories-each">
    <% if category.icon.attached? %>
      <div class="icon">
        <img src="<%= (url_for(category.icon)) %>", alt="shopping_image", style="widt:60p; heigh:60p;", class="icon-image">
      </div>
      <span class="category-name"><%= link_to category.name.upcase, category_items_path(category.id) %></span>
    
      <div>
        <% total = 0 %>
          <% @item_categories.each do |expense| %>
            <% if expense.category_id == category.id %>
              <% total += expense.item.amount %>
           <% end %>
           <% end %>
            <span class="category-amount">$<%= sprintf('%.2f', total) %></span> 
        <% end %>
      </div>
    
    </div>
    <% end %>
</div>

<%= button_to "ADD CATEGORY", new_category_path, method: :get, class: "btn cat-btn" %>
