<p style="color: green"><%= notice %></p>

<div class="nav category-head">
  <h2 class="nav-head category-head">CATEGORIES</h2>
</div>

<div class="categories-div">
  <% @categories.each do |category| %>
    <div class="categories-each">
      <img src="<%= category.icon %>", alt="shopping_image">
      <%#= category.icon %>
      <span class="category-name"><%= link_to category.name.upcase, category_items_path(category.id) %></span>
    
      <div>
        <% total = 0 %>
          <% @item_categories.each do |expense| %>
            <% if expense.category_id == category.id %>
              <% total += expense.item.amount %>
           <% end %>
           <% end %>
            <span class="category-amount">$<%= total %></span> 
      </div>
    
    </div>
    <% end %>
</div>

<%= button_to "ADD CATEGORY", 'new_category_path', method: :get, class: "btn cat-btn" %>
