<p style="color: green"><%= notice %></p>

<div class="nav category-head">
  <div class="actions login-btn">
    <%#= f.submit "SAVE", class: 'login-btn' %>
  </div>
  <h2 class="nav-head category-head">CATEGORIES</h2>
  <div class="actions login-btn">
      <%#= f.submit "SAVE", class: 'login-btn' %>
  </div>
</div> 

<div class="categories-div">
  <% @categories.each do |category| %>
    <div class="categories-each">
    <% if category.icon.attached? %>
      <img src="<%= (url_for(category.icon)) %>", alt="shopping_image", style="width:60px; height:60px;">
      <span class="category-name"><%= link_to category.name.upcase, category_items_path(category.id) %></span>
    
      <div>
        <% total = 0 %>
          <% @item_categories.each do |expense| %>
            <% if expense.category_id == category.id %>
              <% total += expense.item.amount %>
           <% end %>
           <% end %>
            <span class="category-amount">$<%= total %>0</span> 
        <% end %>
      </div>
    
    </div>
    <% end %>
</div>

<%= button_to "ADD CATEGORY", new_category_path, method: :get, class: "btn cat-btn" %>
