<div class="nav">
  <div class="actions login-link">
    <%= link_to "Back",  authenticated_root_path, method: :get, class: 'login-link' %>
  </div>
  <h2 class="nav-head">ADD CATEGORY</h2>
</div>

<%= form_with model: @category, url: categories_path do |f| %>
<div>
  <%= f.text_field :name, placeholder: 'Category name', class: 'input' %>
</div>
<div>
  <%= f.file_field :icon %>
</div>
<div>
  <%= f.submit "SAVE", class: 'btn cat-btn' %>
</div>

<% end %>
